* {
  margin: 0px;
}

header {
  width: 100vw;
  background-color: black;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 65px;
  height: auto;
}

#siteName {
  color: white;
  font-size: 190%;
}

h3 {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

p {
  margin-left: 25px;
}

#mentionsL {
  margin: 30px;
  margin-left: 40%;
}
